@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+Hentaigana:wght@200..900&Mochiy+Pop+P+One&family=Noto+Serif+JP:wght@200..900&family=Yuji+Syuku&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans KR', 'Noto Serif Hentaigana',sans-serif;
}

html {
  font-size: 90%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.attention{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient( -45deg, #2d2d2d, #2d2d2d 25px, #0D1117 25px, #0D1117 50px );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 1;
  transition: opacity 0.5s;
  h2{
    font-size: 3rem;
    margin-bottom: 3.6rem;
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
    text-align: center;
    width: 60vw;
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
  }
  ul{
    display: flex;
    list-style: none;
    background-color: #ff007b7d;
    padding: 0.5rem;
    margin-bottom: 2.4rem;
    li{
      margin: 0 1rem;
      font-size: 1.2rem;
      font-family: "Noto Serif JP", serif;
      font-weight: 900;
    }
  }
  button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #00FF9D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover{
      background-color: #72ffc9;
    }
  }
}

header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  background-color: #00FF9D;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .logo{
    display: flex;
    padding: 1vh;
    img{
      height: 4vh;
    }
  }
  ul{
    display: flex;
    list-style: none;
    li{
      font-size: small;
      height: 6vh;
      width: 10vw;
      line-height: 6vh;
      text-align: center;
      transition: all 0.5s;
      &:hover{
        background-color: #00ec92;
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
      }
    }
  }
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vw;
    max-height: 450px;
    background-image: url('img/Post-apocalyptic-cityscape8.jpg');
    background-color: #f6f4d2b1;
    background-blend-mode: overlay;
    box-shadow: inset 15px 0px 25px rgba(0, 0, 0, 0.294), inset -15px -15px 25px rgba(0,0,0,0.294);
    img{
      width: 50%;
      max-width: 400px;
    }
  }
}

main{
  margin-top: 6vh;
  background-color: #CBDFBD;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  article{
    flex: 1;
    background-color: #0D1117;
    max-width: 1000px;
    width: calc(100% - 2vw);
    margin: 2vh 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8vh 8vw;
    color: #E6EDF3;
    .tags{
      display: flex;
      flex-wrap: wrap;
      li{
        color: black;
        list-style: none;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.1rem 1rem;
        border-radius: 1.5rem;
        font-size: 0.8rem;
      }
    }
    section{
      margin-top: 6rem;
    }
    h1{
      padding-bottom: 0.5rem;
      border-bottom: dotted 3px rgb(59, 59, 59);
    }
  }
  aside{
    display: none;
    background-color: lightgreen;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    height: 50vh;
    position: fixed;
    width: 300px;
  }
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0D1117;
  opacity: 0.4;
  z-index: -1;
}
.Paper {
  background-image:  linear-gradient(#2e3237 4px, transparent 4px), linear-gradient(90deg, #2e3237 4px, transparent 4px), linear-gradient(#2e3237 2px, transparent 2px), linear-gradient(90deg, #2e3237 2px, #0D1117 2px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
}

footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3237;
  section{
    display: flex;
    flex-direction: column;
    nav{
      display: flex;
      align-items: flex-start;
      p{
        display: inline-block;
        font-size: small;
        color: white;
        border-bottom: white solid 1px;
        padding-left: 20px;
        padding-right: 60px;
        line-height: 2rem;
      }
      ul{
        color: white;
        display: flex;
        li{
          margin-top: 0.5rem;
          list-style: none;
          font-size: small;
          a{
            color: white;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        li:not(:last-child){
          margin-right: 0.5rem;
        }
        li + li{
          &:before{
            content: "|";
            color: white;
            margin-right: 0.5rem;
          }
        }
      }
    }
    nav + nav{
      margin-top: 1vh;
    }
    section{
      &.c{
        margin-top: 2rem;
      }
      p{
        color: white;
        font-size: small;
      }
    }
  }
}

h1{
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

#date{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

section{
  h2{
    background-color: #FF007A;
    border-left: #0000003d solid 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
  }
  
  h3{
    box-sizing: content-box;
    font-size: 1.5rem;
    color: #FF007A;
    border-bottom: #FF007A solid 3px;
    padding-left: 0.5rem;
    margin: 2rem 0;
  }

  p{
    z-index: 1;
    line-height: 1.6;
    margin: 2rem 0;
  }

  blockquote{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid #00000062;
    background-color: #00fff277;
    font-style: italic;
  }

  ul, ol{
    list-style-position: inside;
    li{
      line-height: 1.8;
    }
  }
  
  .iwaku{
    box-shadow: 0 0 40px 50px white;
    color: #0D1117;
    background-color: white;
  }
  
  .info{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid #0000005e;
    background-color: #4ed9ffc6;
  }

  .warning{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid #0000005e;
    background-color: #FF4B5Cc6;
  }

  .tip{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid #0000005e;
    background-color: #FFD93Dc6;
  }

  .success{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid #0000005e;
    background-color: #3DFF8Cc6;
  }

  .enclosed_box {
    border: 5px solid #00C8FF;
    border-radius: 8px;
    padding: 1em;
    padding-left: 2.5em;
    position: relative;
    margin: 5rem 0;
    /* background-color: #00c8ff1a; */
    background-image:  radial-gradient(#00c8ff2f 2px, transparent 2px), radial-gradient(#00c8ff2f 2px, #00c8ff1a 2px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
    h4 {
      color: #0D1117;
      background: #00C8FF;
      position: absolute;
      top: -1.7em;
      left: 1em;
      padding: 0 1em;
      font-weight: bold;
      font-size: 1.1em;
    }
    li{
      list-style: none;
    }
  }

  .outlineST {
    position: relative;
  }

  .outlineChild {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 80%;
  }

  .attention ul{
    flex-direction: column;
    align-items: center;
    li {
      text-align: center;
    }
    li + li{
      margin-top: 1rem;
    }
  }

  header ul li {
    font-size: x-small;
    height: 5vh;
    width: 15vw;
    line-height: 5vh;
  }
}